<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="../../global/photon/dist/css/photon.css">
    <link rel="stylesheet" href="../../global/bootstrap/css/bootstrap.min.css">
    <title>Agendamentos</title>
</head>

<body>
    <div class="row">
        <div class="col-3">
            <nav class="nav-group">
                <h5 class="nav-group-title">Menu</h5>
                <a href="../../ViewsAgendamentos/main/index.html" class="nav-group-item pointer active " >
                    <span class="icon icon-archive"></span>
                    Agendamentos
                </a>
                <a href="../../ViewsClientes/clientes/index.html" class="nav-group-item pointer">
                    <span class="icon icon-user"></span>
                    Clientes
                </a>
                <a href="../../ViewsProcedimentos/procedimentos/index.html" class="nav-group-item pointer ">
                    <span class="icon icon-clipboard"></span>
                    Procedimentos
                </a>
            </nav>
        </div>
        <div class="col-9">
            <table class="table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Paciente</th>
                        <th>Responsavel</th>
                        <th>Procedimento</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody id="corpoTable">
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <footer class="toolbar toolbar-footer rodape">
                <div class="toolbar-actions">
                    <div class="row">
                        <div class="col-4 center">
                            <button class="btn btn-mini btn-primary " onclick="excluir({foi:1})" >
                                Novo Agendamento
                            </button>
                        </div>
                        <div class="col-4 center">
                            <button class="btn btn-mini btn-positive" >
                                Editar
                            </button>
                        </div>
                        <div class="col-4 center">
                            <button class="btn btn-mini btn-negative" >
                                Excluir
                            </button>
                        </div>
                       
                    </div>   
                </div>
            </footer>
        </div>
    </div>
    
    <script src="./render.js"></script>
</body>

</html>